
<main>
  <!-- Display the blog post title using blog.id and blog.title -->
  <h1 id="postTitle" data-blog-id="{{ blog.id }}">{{ blog.title }}</h1>
  <p id="postContent">{{ blog.content }}</p>
  <p>By: {{ blog.creator }}</p>
  <p>Created: {{ blog.date }}</p> <!--display the date the blog was created -->

  <h2>Comments</h2>
  <div id="commentsContainer">
    <!-- Check if there are comments available for this blog post -->
    {{#if comments.length}}
    <ul> <!-- Loop through the comments and display each one -->
      {{#each comments}}
      <li> <!-- Display each comment along with the username of the user who posted it -->
        <strong>{{ this.user.username }}</strong>: {{ this.text }}
      </li>
      {{/each}}
    </ul>
    {{else}}
    <p>No comments yet.</p>
    {{/if}}
  </div>

  <h2>Add a New Comment</h2>
  <form id="commentForm" data-blog-id="{{ blog.id }}"> <!-- Pass the blog.id as a data attribute -->
    <label for="commentText">Comment:</label>
    <textarea id="commentText" name="commentText" required></textarea>
    <button type="submit">Submit Comment</button>
  </form>
</main>
<script src="../public/js/blogpost.js"></script>
<script src="../public/js/comment.js"></script>