<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ blog.title }}</title>
  <link rel="stylesheet" href="../public/css/style.css"> 
</head>
<body>
  <header>
    <h2>Quadview Blog -</h2>
  </header>

  <main>
    <h1>{{ blog.title }}</h1>
    <p>{{ blog.content }}</p>
    <p id="creator">Created by: {{ blog.creator }}</p>
    <p id="date">Date: {{ blog.date }}</p>

    <h3>Comments</h3>
    <ul id="comments">
      {{#each blog.comments}}
      <li>{{ this.text }} - by {{ this.user.username }}</li>
      {{/each}}
    </ul>

    {{#if loggedInUser}}
    <!-- Form to submit comments -->
    <form id="commentForm">
      <div class="form-group">
        <label for="commentText">Leave a Comment:</label>
        <textarea id="commentText" rows="4" cols="50" required></textarea>
      </div>
      <button type="submit">Submit Comment</button>
    </form>
    {{else}}
    <p>Please <a href="/login">log in</a> to leave a comment.</p>
    {{/if}}
  </main>



  <footer>
    <p>&copy; {{ year }} QuadView Blog. All rights reserved.</p>
  </footer>

  <input type="hidden" id="loggedInUser" value="{{ user.username }}">
   <script src="/js/blogpost.js"></script>
</body>
</html>
