<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuadView Blog - Blogs</title>
  <link rel="stylesheet" href="/public/css/style.css"> 
</head>
<body>
  <nav>
    <ul>
      <li><a href="/" id="homepageLink">Homepage</a></li>
      <li><a href="/dashboard" id="dashboardLink">Dashboard</a></li>
      <li><a href="/login" id="login">Login</a></li>
    </ul>
  </nav>

  <main>
    <section class="container">
      {{#if loggedIn}}
        <h2>Welcome to the QuadView Blog</h2>
        <p>Here are some of the latest blog posts:</p>
        <ul id="blogPosts">
          {{#each blogs}}
            <li>
              <h3>{{title}}</h3>
              <p>{{content}}</p>
              <p>Author: {{author}}</p>
              <p>Date: {{date}}</p>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>You must be logged in to view the blog posts.</p>
        <p><a href="/login">Login</a> or <a href="/signup">Sign up</a> to access the blogs.</p>
      {{/if}}
    </section>
  </main>

  <footer>
    <p>&copy; {{ year }} QuadView Blog. All rights reserved.</p>
  </footer>

  <script src="/js/index.js"></script>
</body>
</html>
